---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import Pagination from "../../components/Pagination.astro";
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import {  Modal, ModalHeader, ModalBody } from 'free-astro-components'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const project = (await getCollection('project'))
	.filter(post => post.data.status == 'active')
  	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()).reverse();
  	
	// Return a paginated collection of paths for all posts
  	return paginate(project, { pageSize: 4 });
}

const posts_project_featured = (await getCollection('project'))
.filter(post => post.data.status == 'featured') // Filter out active posts
.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
type Props = { page: Page<CollectionEntry<'project'>> };

const { page } = Astro.props;
const project = page.data;

---

<Layout title="t2del | Project" meta_description="List of projects i have worked and still working on" body_class="home" image="favicon.ico">
	<section>
		<Container className="container-blog">
			<h1 class="notshow fromleft text-center"> <span class="text-gradient">Projects</span></h1>
			<ul role="list" class="link-card-grid featured">
				{posts_project_featured.map((post) => (
						<li class="notshow blur portfolio-list">
							<button  data-modal-trigger={post.slug}>
								<img width="350" height="200" src={post.data.heroImage} alt={post.data.title} title={post.data.title} />
								<h4 class="title">{post.data.title}</h4>
							</button>

							<Modal id={post.slug} size="4xl">
								<ModalHeader>
									<h4>{post.data.title}</h4>
								</ModalHeader>
								<ModalBody>
									<div class="description">
										<div class="scrollable">
											<img src={post.data.heroImageScroll ? post.data.heroImageScroll : post.data.heroImage } alt={post.data.title} title={post.data.title}  />
										</div>
										
										<div class="inner">
											<div>Role: <span>{post.data.role}</span></div>
											<div>Platform: <span>{post.data.platform}</span></div>
											<a href={post.data.siteUrl} rel="noopener noreferrer"><span>Visit Site</span></a>
										</div>										
									</div>
								</ModalBody>
							</Modal>
						</li>
				))}
			</ul>
			<ul role="list" class="link-card-grid grid-3">
				{
					project.map(
						(post) => (					
						<li class="notshow fromtop">
							<button  data-modal-trigger={post.slug}>
								<img width="350" height="200" src={post.data.heroImage} alt={post.data.title} title={post.data.title} />
								<h4 class="title">{post.data.title}</h4>
							</button>

							<Modal id={post.slug} size="4xl">
								<ModalHeader>
									<h4>{post.data.title}</h4>
								</ModalHeader>
								<ModalBody>
									<div class="description">
										<div class="scrollable">
											<img src={post.data.heroImageScroll ? post.data.heroImageScroll : post.data.heroImage } alt={post.data.title} title={post.data.title}  />
										</div>
										
										<div class="inner">
											<div>Role: <span>{post.data.role}</span></div>
											<div>Platform: <span>{post.data.platform}</span></div>
											<a href={post.data.siteUrl} rel="noopener noreferrer"><span>Visit Site</span></a>
										</div>	
									</div>
								</ModalBody>
							</Modal>							
						</li>
						)
					)
				}
			</ul>
			<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
		</Container>			
	</section>
</Layout>