---
import Layout from '../../layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

import FormattedDate from '../../components/FormattedDate.astro';
import Container from '../../components/Container.astro';

export async function getStaticPaths() {
	const posts = await getCollection('project');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'project'>;

const post = Astro.props;

var hasimgsrcScroll = post.data.heroImageScroll ? post.data.heroImageScroll : post.data.heroImage;
---

<Layout title={`${post.data.title} | Project | by t2del` } meta_description={`${post.data.desc}` } body_class="project inner index something you wish to add for any use" image={`${post.data.heroImage}` }>
	<article>
		<div class="hero-image notshow blur">
			{hasimgsrcScroll && <img src={hasimgsrcScroll} alt={post.data.title}  loading="eager" />}
			
		</div>
		<Container className="project-details">
			<div class="prose">
				<div class="title">
					<div class="date hide"><FormattedDate date={post.data.pubDate} /></div>
					<h1>{post.data.title}</h1>
					<hr />
				</div>
				<div class="description">
					<div>Role: <span>{post.data.role}</span></div>
					<div>Platform: <span>{post.data.platform}</span></div>
					<a href={post.data.siteUrl} rel="noopener noreferrer"><span>Visit Site</span></a>
				</div>

			</div>
		</Container>
	</article>
</Layout>

<style>
	.hero-image {
		max-height: 600px;
		overflow: auto;
	}
	.hero-image img {
		width: 100%;
	}

</style>