---
export const prerender = false;
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import {  BLOG } from "@consts";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@consts";
import  FormattedDate2  from "@components/FormattedDate2.astro";

const { page = 1, per_page = SITE.NUM_POSTS_ON_HOMEPAGE } = Astro.params;
let { url_prev, url_next } = Astro.params;


let res = await fetch(`${SITE.WP_BLOG_LIST}&per_page=${per_page}&page=${page}`);
let posts = await res.json();

if (posts.data) {
  return Astro.rewrite("/404-blog")
}

// Pagination
const response_count = await fetch(`${SITE.WP_BLOG_LIST}`);
const result_count = await response_count.json();

let pagedp = Math.ceil(result_count.length / Number(per_page));
let pagedn = Math.ceil(result_count.length / Number(per_page));
let prev = Number(page);
let next = Number(page);
let pages = Number(page);


if(pagedp == pages) {
	prev = pagedp - 1;
	next = pagedn;
	url_prev = '/blog/'+prev;
	url_next = '';
}

if(Number(pages) < Number(pagedp)) {
	prev = pages - 1;
	next = pages + 1;
	
	url_prev = '/blog/'+prev;
	url_next = '/blog/'+next;
	if(prev == 0) {
		prev = 1;
		url_prev = '';
	}
}
// pagination end
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
	<Container containerWidth="mx-auto max-w-[1200px] px-5">
	  <div class="space-y-10">
		<div class="animate font-semibold text-black dark:text-white">Blog</div>
		<ul class="animate flex flex-col gap-2">
			
			{
				posts.map((post: { slug: any; title: { rendered: unknown; }; _embedded: { [x: string]: { [x: string]: { media_details: { sizes: { full: { source_url: string | null | undefined; }; }; }; }; }; }; excerpt: { rendered: unknown; }; date: any; }) => (
					<li class="flex flex-col items-center gap-8 p-5 md:flex-row md:gap-8 rounded-2xl">						
							<div>
								<a href={`/${post.slug}`}>
								<img class="size-52 shadow-xl rounded-md" src={post._embedded?.['wp:featuredmedia']?.['0']?.media_details?.sizes?.full?.source_url || '/placeholder.jpg'} alt={`${post.title.rendered} | Blog thumb`} title={`${post.title.rendered} | Blog thumb`} loading="eager" style={`view-transition-name: vt-post-featured-image-${post.slug};`} />
									{/* <img class="size-52 shadow-xl rounded-md" src={post._embedded['wp:featuredmedia']['0'].media_details.sizes.full.source_url} alt={`${post.title.rendered} | Blog thumb` } title={`${post.title.rendered} | Blog thumb` } loading="eager" style={`view-transition-name: vt-post-featured-image-${post.slug};`} /> */}
								</a>								
							</div>
							<div class="flex items-center md:items-start">
								<a href={`/${post.slug}`}>
									<span class="text-2xl font-medium" style={`view-transition-name: vt-post-title-${post.slug};`}>{post.title.rendered}</span>
									<span class="font-medium text-sky-500"  set:html={post.excerpt.rendered}></span>
									<span class="flex gap-2 font-medium text-gray-600 dark:text-gray-400" style={`view-transition-name: vt-post-excerpt-${post.slug};`}>
									<FormattedDate2 date={post.date} />
									</span>
								</a>
							</div>
					</li>
				))
			}
		</ul>
		<Pagination prevUrl={url_prev} nextUrl={url_next} />
	  </div>
	</Container>
  </PageLayout>