---
import Layout from "../layouts/Layout.astro";

import { config } from "../consts";

const title = "404";
const description = "Page not found";
const content =
  "Sorry, the page you are looking for does not exist or has been moved.";
---

<Layout title={`${title}: ${description}`} description={`${description}`} pagefind={false}>
  <main class="flex min-h-[60vh] flex-col items-center justify-center py-20">
    <h1 class="text-error mb-4 text-6xl sm:text-9xl">{title}</h1>
    <h2 class="mt-0 mb-4 text-2xl font-semibold sm:text-4xl">{description}</h2>
    <p class="text-base-content mb-8">{content}</p>
    <a href={`${config.base}/`} class="btn btn-lg sm:btn-xl px-8 py-3 text-lg">
      Back to Home
    </a>
  </main>
</Layout>
