---
export const prerender = false;
import PageLayout from "@layouts/PageLayoutWP.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { SITE } from "@consts";
import  FormattedDate2  from "@components/FormattedDate2.astro";

const { slug } = Astro.params;

const res = await fetch(`${SITE.WP_BLOG_POST}?slug=${slug}&_embed`);
const [post] = await res.json();

if (post == undefined) {
  return Astro.rewrite("/404-blog")
}
// console.log(post._embedded) // Debugging the post object
---

<PageLayout title={`${post.title.rendered} | Blog |` } description={post.title.rendered} wpid={post.id}>
  <Container containerWidth="mx-auto max-w-[1440px] px-5">    
    <article class="blog-single" data-pagefind-body>
      <img src={`https://t2del-azure-wp.azurewebsites.net/${post._embedded?.['wp:featuredmedia']?.['0']?.media_details?.sizes?.full?.source_url || '/placeholder.jpg'}`} 
      alt={post.title.rendered} 
      title={post.title.rendered} 
      style={`view-transition-name: vt-post-featured-image-${post.slug};`} 
      loading="eager" />
      <hr>
      <h1 set:html={post.title.rendered} />
      <span class="post-meta"><FormattedDate2 date={post.date} /></span>
      <div class="content-populated" set:html={post.content.rendered}></div>
    </article>
    <BackToPrev href="/blog/">Back to Blog</BackToPrev>
  </Container>
</PageLayout>

<style is:inline>
 main {
  padding-top: 0;
 }
 hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #e2e8f0;
  width: 100%;
  height: 1px;
  background-color: #e2e8f0;
 }
</style>