---
export const prerender = false;
import PageLayout from "@layouts/PageLayoutWP.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { SITE } from "@consts";
import  FormattedDate2  from "@components/FormattedDate2.astro";

const { slug } = Astro.params;

const res = await fetch(`${SITE.WP_BLOG_POST}?slug=${slug}&_embed`);
const [post] = await res.json();

if (post == undefined) {
  return Astro.rewrite("/404-blog")
}
---

<PageLayout title={`${post.title.rendered} | Blog |` } description={post.title.rendered} wpid={post.id}>
  <Container containerWidth="mx-auto max-w-[1440px] px-5">
    <BackToPrev href="/blog/">
      Back to Blog
    </BackToPrev>
    <article class="blog-single">
      <h1 set:html={post.title.rendered} />
      <img src={post._embedded['wp:featuredmedia']['0'].media_details.sizes.full.source_url} alt={post.title.rendered} title={post.title.rendered} style={`view-transition-name: vt-post-featured-image-${post.slug};`}  />
      <hr>
      <span class="post-meta"><FormattedDate2 date={post.date} /></span>
      <div class="content-populated" set:html={post.content.rendered}></div>
    </article>
  </Container>
</PageLayout>