---
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { locale } from "@/consts";

const title = "T2del";
const titleLayout = `T2del`;
const description = "Minimal and lightweight blog and portfolio.";

// Generate all pagination pages
// export async function getStaticPaths() {
//   const posts = await getCollection("work", ({ data }) => data.draft !== true);
//   const postsPerPage = 5;
//   const totalPages = Math.ceil(posts.length / postsPerPage);

//   // Pages from 2 to totalPages (because /project/ is index.astro)
//   return Array.from({ length: totalPages - 1 }).map((_, i) => ({
//     params: { page: String(i + 2) },
//   }));
// }


const work = (
  await getCollection("work", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const postsPerPage = 5;

---

<Layout title={titleLayout} description={description}>
  <section class="animate-fade-down text-center">
      <h1 class="notshow frombottom font-semibold text-black dark:text-white" style="view-transition-name: vt-post-featured-title">
        Dennis Macapagal<span class="text-xl">👋🏻</span>
      </h1>
      <article class="space-y-4">
          <p class="animate">
            A Full-Stack Developer with more than 10 years of relevant
            experience in web programming. Bringing up-to-date industry skills
            in front-end and back-end technology such as PHP, HTML, CSS,
            JavaScript, MySQL and hands-on experience with CMS such as
            WordPress. Detail-oriented and motivated to drive project completion
            on target with exceptional quality and guaranteed client
            satisfaction.
          </p>
          <ul class="flex flex-wrap gap-2" id="">
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">PHP</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">HTML</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">CSS</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">JavaScript (jQuery, Ajax, Json)</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">Bootstrap</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">Sass / Less</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">WordPress/ Woocommerce</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">MySQL</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">OpenCart</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">Laravel</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">RestAPI</li>
            <li class="flex gap-x-2 text-nowrap notshow fromright -my-0.5 inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-green-400/20 text-black-700 group-data-hover:bg-green-400/30 dark:bg-green-400/10 dark:text-green-300 dark:group-data-hover:bg-green-400/15">GIT</li>
          </ul>
        </article>
  </section>

  <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white ">Work Experience</h5>
          <!-- <Link href="/work"> See all work </Link> -->
        </div>
        
          {
            work.map((entry) => (
              <article class="flex flex-col space-y-4">
                <h3 class="text-xl font-medium text-slate-700">
                  {entry.data.company}
                </h3>
                <h4 class="text-md font-medium text-slate-700">
                  {entry.data.role}
                </h4>
                <div class="text-sm opacity-75">
                  <time datetime={new Date(entry.data.dateStart).toISOString()}>
                    {new Date(entry.data.dateStart).toLocaleDateString(
                      locale.date.locale,
                      locale.date.options,
                    )}
                  </time>
                   - 
                  {new Date(entry.data.dateEnd).getTime() ? (
                  <time datetime={new Date(entry.data.dateEnd).toISOString()}>
                    {new Date(entry.data.dateEnd).toLocaleDateString(
                    locale.date.locale,
                    locale.date.options,
                    )}
                  </time>
                  ) : (
                  <span>Present</span>
                  )}
                </div>
                

                <div set:html={entry.body} class="pl-5"></div>
              </article>
            ))
          }
        
      </section>
</Layout>
