---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

	const posts_project = (await getCollection('project'))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()).reverse();

	const posts_project_featured = (await getCollection('project'))
	.filter(post => post.data.status == 'featured') // Filter out active posts
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---
<Layout title="t2del | Project" meta_description="List of projects i have worked and still working on" body_class="home" image="favicon.ico">
	<section id="portfolio">			
		<Container className="container-portfolio">
			<h2 class="notshow fromleft"> <span class="text-gradient">Projects</span></h2>
			<ul role="list" class="link-card-grid featured">
				{
					posts_project_featured.map((post) => (
						<li class="notshow blur portfolio-list"  id={post.slug}>
							<a href={`/project/${post.slug}`}>
								<Image  
									src={post.data.heroImage}
									alt={post.data.title} 
									width={350} 
									height={180} 
									format='webp'									 
									loading="eager"
								>
								</Image>
								<h4>{post.data.title}</h4>
							</a>
						</li>
					))
				}				
			</ul>
			<ul role="list" class="link-card-grid">
				{
					posts_project.map((post) => {
						if (post.data.status == 'active') {
							return (
								<li class="notshow blur portfolio-list"  id={post.slug}>
									<a href={`/project/${post.slug}`}>
										<Image 
											src={post.data.heroImage} 
											width={350} 
											height={180} 
											format='webp' 
											alt={post.data.title} 
											loading="eager">
										</Image>
										<h4>{post.data.title}</h4>
									</a>
								</li>
							);
						}
						return null;
					})
				}
			</ul>							
		</Container>
	</section>
</Layout>