---
import type { CollectionEntry } from "astro:content";
// import { Picture, Image  } from "astro:assets";
import { getImage, Image   } from "astro:assets";
type Props = {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props;

const optimizedBackgroundImage = await getImage({
  src: entry.data.heroImage ?? "/placeholder.png",
  format: "webp", // Explicitly request WebP format
});
---

<a href={`/${entry.collection}/${entry.slug}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <Image 
                layout='constrained'
                width={500}
                height={250}
								alt={entry.data.title}
								class="object-cover "
								fetchpriority="high"
								loading="lazy" // loading="eager"
                src={optimizedBackgroundImage.src ?? "/placeholder.png"}
                style={`view-transition-name: vt-post-featured-image-${entry.slug}; object-fit:contain`}
							/>
  <div class="flex flex-col flex-1  pl-7">
    <div class="font-semibold" style={`view-transition-name: vt-post-featured-title-${entry.slug};`}>
      {entry.data.title}
    </div>
    <div class="text-sm description" style={`view-transition-name: vt-post-featured-excerpt-${entry.slug};`}>
      {entry.data.desc}
    </div>
  </div>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current">
    <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
    <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
  </svg>
</a>


<style>
  .flex-col {
    justify-content: space-evenly;
  }
  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  @media only screen and (max-width: 600px) {
    img.custom-img  {
      width: 100%;
      max-width: 180px;
    }
  }
</style>