---
import { Picture, } from 'astro:assets';
import { locale } from "../../consts";
const { data, url  } = Astro.props;
---
<article class="animate-fade-up rounded border shadow !transition hover:shadow-lg overflow-hidden" >
    <a href={url} class="no-underline block hover:underline">
        {data.image && (
        <Picture
            formats={['avif', 'webp']}
            class="h-40 w-full object-cover"
            src={`${data.image.src}`}
            alt={data.image.alt}
            width={720}
            height={360}
            loading={"lazy"}
            sizes="(min-width:1024px) 33vw, (min-width:768px) 50vw, 100vw"
        />
        )}
        <h3 class="mb-2 text-xl font-bold ">{data.title}</h3>
        <p class="mb-2 text-sm opacity-70 hidden">
        <time datetime={data.publishDate.toISOString()}>
            {data.publishDate.toLocaleDateString(
            locale.date.locale,
            locale.date.options,
            )}
        </time>
        </p>
        <p class="mb-2 hidden">{data.description}</p>
    </a>
</article>
<style>
    :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>