---
import { getCollection } from "astro:content";
import { config, locale } from "../../consts";

import Card from '../../components/common/Card.astro';

/**
 * Component to get the latest posts from the "blog" collection.
 * Props:
 * - count: number (how many posts to show, default is 3)
 */
const { count = 3 } = Astro.props;

const posts = (await getCollection("blog", ({ data }) => data.draft !== true))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, count);

const title = "Latest Posts";
const description = "The latest updates from our blog.";

// Tailwind v4: only static class names are safe!
const gridCols =
  count >= 4
    ? "md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
    : count === 3
      ? "md:grid-cols-2 lg:grid-cols-3"
      : count === 2
        ? "md:grid-cols-2"
        : "";
---

<section class="mb-8 text-center">
  {title && <h2 class="animate-fade-up mb-2 text-3xl font-bold">{title}</h2>}
  {description && <p class="animate-fade-up mb-8">{description}</p>}
  <div class={`grid gap-6 grid-cols-1 ${gridCols}`}>
    {
      posts.map((post, idx) => (
        <Card
          data={post.data}
          url={`${config.base}/blog/${post.id}/`}
        />
      ))
    }
  </div>

  <a href={`${config.base}/blog/`} class="btn btn-lg animate-fade-up mt-8"
    >All Posts</a
  >
</section>
