---


// import 'font-awesome/css/font-awesome.min.css';
import '../styles/index.css';
import 'font-awesome/css/font-awesome.min.css';

import { nav } from '../config/nav.js';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Logo from '../components/Logo.astro';



import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	meta_description: string;
	body_class: string;
	image: string;
}
//const { title, meta_description, body_class } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, meta_description, image, body_class } = Astro.props;
---

<!doctype html>
<html class="no-js" lang="en" data-theme="default">
	<head>
		<ViewTransitions></ViewTransitions>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={meta_description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={meta_description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={meta_description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />
		
		<link rel="sitemap" href="/sitemap-index.xml" />

		<script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-8GWLGV29V7"></script>
		<script type="module" >
			document.addEventListener('astro:page-load', () => {
				// <!-- paste GA4 Tracking here -->
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-8GWLGV29V7');
				// <!-- paste GA4 Tracking here -->
			}, ); 
		</script>
	</head>

	

	<body class={body_class}>
		<Header rightMenu navData={nav} id="navID" slot="header">
			<span slot="logo">
				<Logo />
			</span>
		</Header>

		<slot />
		<Footer>
	</body>
</html>


