---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  wpid: number;
};

const { title, description, wpid } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} ${SITE.NAME}`} description={description} />

    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/plugins/essential-blocks/assets/css/animate.min.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/plugins/essential-blocks/assets/fontawesome/css/all.min.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/plugins/essential-blocks/assets/css/block-common.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/plugins/essential-blocks/assets/css/hover-min.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/uploads/eb-style/frontend/frontend-${wpid}.min.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/uploads/eb-style/eb-style-${wpid}.min.css`}>


    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/plugins/elementor/assets/css/frontend.min.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/uploads/elementor/css/post-50.css`}>
    <link rel="stylesheet" href={`https://denn-block.instawp.xyz/wp-content/uploads/elementor/css/post-${wpid}.css`}>
    
  </head>
  <body class="scroll">
    <Header />
    
    <main data-pagefind-body>
      <slot />
    </main>
    <Footer />
  </body>
</html>
